<?xml version="1.0" encoding="utf-8"?>

<launch>

  <param name="image_topic" value="/usb_cam/image_raw" />

  <!-- Uncomment this if you want to use freenect camera -->
  <!-- Kinect v1 camera -->
  <!--<include file="$(find freenect_launch)/launch/freenect.launch">
          <arg name="depth_registration" value="true" />
  </include>-->    


    <node name="new_face" pkg="utbots_face_recognition" type="new_face.py" output="screen"/>
    <node name="train" pkg="utbots_face_recognition" type="train.py" output="screen"/>
    <node name="recognize" pkg="utbots_face_recognition" type="recognize.py" output="screen"/>

  
  <!-- Darknet inference -->
  <!--<include file="$(find darknet_ros)/launch/kinect.launch"/>

  <node name="detected_obj_manager" pkg="vision_tools" type="detected_obj_manager.py"/>

   <node 
        type="rviz"
        name="rviz" 
        pkg="rviz" 
        args="-d $(find vision_tools)/object3dpoint.rviz" 
    />-->
  
</launch>